region = "us-east-1"
account_id = "REPLACE_ME_NONPROD_ACCOUNT_ID"
account_email = "REPLACE_ME_NONPROD_ACCOUNT_EMAIL"
shared_account_id = "REPLACE_ME_SHARED_ACCOUNT_ID"
shared_account_email = "REPLACE_ME_SHARED_ACCOUNT_EMAIL"

environment_names = ["qa", "staging"]

tags = {
  project     = "chatbot-ai-rag-langchain"
  environment = "nonprod"
  owner       = "REPLACE_ME_OWNER"
}
